<style></style>

<div class="content" role="main">
  <div
    class="banner-loading animate__animated"
    [class.animate__fadeOut]="getList().length > 0"
  >
    <div class="logo"></div>
    <h5>Welcome to Brian Golf ScoreBoard</h5>
    <p class="p-5">the data is {{ socketStatus }} now, please wait...</p>
    <div class="spinner-border" role="status"></div>
  </div>
  <carousel (activeSlideChange)="log($event)">
    <slide *ngFor="let player of getList(); index as i">
      <div class="banner d-flex flex-column flex-md-row">
        <div
          class="loading-status animate__animated"
          [class.animate__fadeOut]="slideChangeNumber === i"
        >
          <div class="spinner-border" role="status"></div>
        </div>
        <div
          class="slide-right d-flex p-2 flex-column animate__animated animate__delay-1s"
          [class.animate__bounceIn]="slideChangeNumber === i"
        >
          <div class="info d-flex">
            <div
              class="d-flex ml-2 align-center animate__animated animate__delay-2s"
              [class.animate__bounceIn]="slideChangeNumber === i"
            >
              <div class="flag" [innerHtml]="getFlag(player.Nationality)"></div>
              <div class="title">
                <h1>{{ player.First }} {{ player.Last }}</h1>
                <h5>{{ player.TVName }}</h5>
              </div>
            </div>
          </div>
          <div class="totel-score-banner">
            <table
              [class.animate__bounceIn]="slideChangeNumber === i"
              class="table table-striped table-hover text-center animate__animated animate__delay-3s"
            >
              <thead class="text-center">
                <tr [class.active]="check">
                  <th scope="col">Handicap</th>
                  <th scope="col">In STP</th>
                  <th scope="col">In Strokes</th>
                  <th scope="col">Total STP</th>
                  <th scope="col">Total Strokes</th>
                  <th scope="col">Rank Integer</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ player.Handicap }}</td>
                  <td>{{ player.InSTP }}</td>
                  <td>{{ player.InStrokes }}</td>
                  <td>{{ player.TotalSTP }}</td>
                  <td>{{ player.TotalStrokes }}</td>
                  <td>{{ player.CalculatedRankInteger }}</td>
                </tr>
              </tbody>
            </table>
            <table
              [class.animate__bounceIn]="slideChangeNumber === i"
              class="table table-striped table-hover text-center animate__animated animate__delay-4s"
            >
              <thead class="text-center">
                <tr [class.active]="check">
                  <th scope="col">Today</th>
                  <th scope="col">Unique Position</th>
                  <th scope="col">last Updated</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ player.Today }}</td>
                  <td>{{ player.UniquePosition }}</td>
                  <td>{{ player.lastUpdated }}</td>
                  <td>{{ player.teeTime }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            class="role-charctor-banner d-flex justify-content-center align-center"
          >
            <div class="role" [innerHtml]="getIcon(player.Sex, i)"></div>
          </div>
        </div>
        <div class="slide-left d-flex p-2 flex-column">
          <table class="table table-striped table-hover text-center">
            <thead class="text-center">
              <tr [class.active]="check">
                <th scope="col">Hole</th>
                <th scope="col">STP</th>
                <th scope="col">Strokes</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let golfHole of goldHoles; index as golfHoleNumber"
                class="animate__animated animate__delay-{{ golfHoleNumber }}s"
                [class.animate__bounceIn]="slideChangeNumber === i"
              >
                <th>{{ golfHoleNumber + 1 }}</th>
                <td>{{ getGolfHoleStpNumber(player, golfHoleNumber + 1) }}</td>
                <td>
                  {{ getGolfHoleStrokesNumber(player, golfHoleNumber + 1) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </slide>
  </carousel>
</div>

<router-outlet></router-outlet>
